* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgba(31, 49, 71, 0.801);
    padding: 15px 12px;
    width: 100%;
    position: fixed;
    z-index: 55;

}


header a {
    text-decoration: none;
    color: white;
    padding: 12px 24px;


}

.hero {
    position: relative;
}

.hero--image {

    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero--text {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.5);
    padding: 24px;
    border-radius: 10px;
}

.hero--title {
    font-size: 100px;
    margin-bottom: 24px;
}

.Servis {
    padding-top: 60px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.Servis h1 {
    text-align: center;
    margin-top: 55px;
    font-weight: 400;
    letter-spacing: 3px;
}

.Servis p {
    text-align: justify;
    padding-top: 25px;
    margin-left: 25px;
}

#Bug {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: bold;
    font-size: large;
}

.row {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.row h1 {
    text-align: center;
    margin-top: 55px;
    font-weight: 400;
    letter-spacing: 3px;
}

.row .col p {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 0;
}

.row .col img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

}

#div1 {
    width: 25%;
    padding-right: 20px;
    padding-left: 15px;
}

#div2 {
    padding-right: 20px;
    width: 25%;
    padding-left: 15px;
}

#div3 {
    width: 25%;
    padding-right: 20px;
    padding-left: 15px;
}


.shop {
    display: flex;
    margin: 50px auto;
    max-width: 800px;
    text-align: justify;
    background-color: black;
    color: black;
    max-width: 800px;
    gap: 20px;
    padding-bottom: 100px;
}

.shop img {
    width: 100%;
}

.shop p {
    padding: 15px;
}

.shop .datum1 {
    color: gray;
    padding: 15px;
}

.shop .col1 {
    background-color: white;
}

.shop .kupi {
    background-color: black;
    color: white;
    padding: 15px;
    margin-left: 15px;
    width: 110px;
    margin-bottom: 15px;
}

.WebShop {
    background-color: black;
    color: white;
    margin: 0 auto;
}

.WebShop h2 {
    text-align: center;
    padding-top: 85px;
}

#Sivo1 {
    color: gray;
    font-style: italic;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 35px;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
}

.btn--blue {
    background-color: #1DA1F2;
    color: #fff;
    fill: #fff;
}

.btn__icon * {
    display: inline;
    height: 1rem;
    width: 1rem;
}

.btn__text {
    font-size: 1rem;
    font-weight: 600;
}


footer {
    background-color: rgba(31, 49, 71, 0.801);
    padding: 15px 12px;
    width: 100%;
    position: fixed;
    z-index: 55;

}

footer {
    max-width: 800px;
    margin: 0 auto;
    color: gray;
    text-align: center;
    padding: 100px;
    font-size: 22px;
}